*{
    margin: 0;
    padding: 0;
}
html{
    background-image: url("pictures/background.png");
}
body{
    background-image: url("pictures/panel.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 991px;
    width: 1018px;
}
.header {
    padding: 1% 4%;
}
.logo_img{
    float: left;
    padding-top: 4%;
}
ul.contacts{
    list-style: none;
    float: right;
    color: #5fa5bb;
}
/*img{
    width: 100%;
}
.menu_list li{
    float: left;
    list-style: none;
}
.menu_list a{
    display: block;
    background-color: #343434;
    color: white;
    width: 100%;
    line-height: 40px;
    text-decoration: none;
    padding: 0 40px;
    font-size: 14px;
    border-bottom: #555555;
}
/*.Information {
    float: left;
    width: 21%;
    height: 100%;
    background-color: #edeef0;
    clear: both;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.News {
    float: right;
    width: 21%;
    height: 100%;
    background-color: #edeef0;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;

}*/
