body{
    background-color: #f9f9f9;
    margin: 0 15%;
}
button{
    height: inherit;
    background-color: #505050;
    text-align: center;
    position: relative;
    border: 0;
    padding: 15px;
    color: white;
    width: 15%;
}
button:hover{
    background-color: #3a3a3a;
}
button:focus{
    color: gold;
    outline: none;
    background-color: #3a3a3a;
}
.main{
    padding: 0 5%;
}
header{
    background-color: #505050;
    height: 40px;
}
ul{
    height: 40px;
}
li{
    list-style-type: none;
}
.button_f{
    background-color: inherit;
    color: black;
    outline: none;
}.button_f:focus,.button_f:hover{
    background-color: inherit;
    color: black;
    text-decoration: underline;
 }
 .button_n{
     background-color: inherit;
     color: #656363;
     outline: auto;
     text-align: left;
     width: 20%;
 }
 .button_n:hover,.button_n:focus{
     background-color: #f9f9f9;
     color: black;
     outline: auto;
     text-align: center;
 }
 img{
     float: right;
     padding: 0 100px;
     border: 1px solid #c8c8c8;
 }
 div{
     padding: 30px;
 }
 p{
     float: right;
     width: 675px;
 }
.ARR{
    float: right;
    width: 16%;
    padding: 0 15px;
}
footer{
    background-color: #e1e1e1;
    height: 40px;
    clear: both;
}