*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f9f9f9;
    margin: 0 15%;
    height: 100%;
    /*overflow-y: hidden;запрещает прокрутку*/
    border-right: 2px solid #dbdbdb;
    border-left: 2px solid #dbdbdb;
}

.container{
    padding-right: 50px;
    padding-left: 50px;
    height: 100%;
    background-color: white;
}
header{
    background-color: #505050;
    height: 40px;
    clear: both;
}
footer{
    background-color: #e1e1e1;
    height: 40px;
    clear: both;
}
.menu{
    display: inline;
    height: inherit;
}
img{
    float: right;
    padding: 0 100px;
    border: 1px solid #c8c8c8;
    clear: both;
}
a{
    background-color: #505050;
    text-align: center;
    border: 0;
    padding: 1%;
    color: white;
    display: inline-block;
    text-decoration: none;
}
ul{
    font-size: 0;
    line-height: 0;
    letter-spacing:-1px;
}
li{
    font-size: medium;
    list-style: none;
    line-height: normal;
    letter-spacing: normal;
}
a.a_n{
    height: 10%;
    width: 20%;
    clear: both;
}
a.a_h{
    height: inherit;
    display: inline-block;
    width: 10%;
    clear: both;
}
a:hover{
    background-color: #3a3a3a;
}
a:focus{
    color: gold;
    outline: none;
    background-color: #3a3a3a;
}
.a_f{
    background-color: inherit;
    color: black;
    outline: none;
    width: 10%;
    float: left;
}.a_f:focus,.a_f:hover{
    background-color: inherit;
    color: black;
    text-decoration: underline;
 }
 .a_n{
     background-color: inherit;
     color: #656363;
     outline: auto;
     text-align: left;
     width: 20%;
 }
 .a_n:hover,.a_n:focus{
     background-color: #f9f9f9;
     color: black;
     outline: auto;
     text-align: center;
 }
 .Lorem{
     float: right;
     width: 675px;
     padding-top: 40px;
     padding-bottom: 40px;
 }
p.menu{
    float: right;
    padding-right: 2%;
}