*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f9f9f9;
    /*overflow-y: hidden;запрещает прокрутку*/
}
h1{
    padding-top: 2%;
    padding-bottom: 2%;
}
.container{
    margin: 0 auto;
    padding: 0 45px 5px;
    width: 970px;
}
.header{
    background-color: #505050;
    height: 40px;
    clear: both;
}
.sidebar{
    margin-top: 40px;
    position: relative;
}
.menu_h li{
    float: left;
    list-style: none;
}
.menu_h a {
    display: block;
    color: white;
    line-height: 40px;
    text-decoration: none;
    padding: 0 40px;
    font-size: 14px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.menu_h a:hover{
    background-color: #3a3a3a;
}
.main {
    position: relative;
    overflow: hidden;
}
.sidebar{
    float: left;
    width: 240px;
    border: 1px solid gray;
}

.sidebar-menu a{
    display: block;
    line-height: 40px;
    padding-left: 25px;
    text-decoration: none;
    color: #666666;
}

.sidebar-menu li {
    border-bottom: 1px solid gray;
}

.sidebar-menu li:last-child {
    border-bottom: none;
}

.sidebar-menu a:hover {
    color: black;
    background-color: #f9f9f9;
    padding-left: 35px;
}
.bc {
    float: right;
    width: 680px;
}
.bc{
    margin-top: 40px;
}
.bc p {
    margin-top: 40px;
    padding: 0 25px;
    font-size: 14px;
    line-height: 22px;
    float: right;
}
.img{
    float: right;
}
.menu_f {
    background-color: #cccccc;
    position: relative;
    overflow: hidden;
    margin: 60px 0;
}

.menu_f li {
    line-height: 40px;
    padding: 0 40px;
    float: left;
    list-style: none;
}

.menu_f a {
    display: block;
    text-decoration: none;
    color: #333333;
    font-size: 14px;
}

.menu_f a:hover {
    text-decoration: underline;
}

.menu_f li:last-child {
    float: right;
}
img{
    border: 1px solid #c8c8c8;
}
